<%= render partial: "navbar", class: 'col-md-offset-0' %>
    <!-- Page Header -->
    <header class="masthead">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>BugZilla</h1>
              <span class="subheading">A Bug Tracking System</span>
              <br>
              <% if user_signed_in? %>
                <%= link_to "Create Project", new_project_path, class: 'btn btn-primary' %>
                <%= link_to "Show Projects", projects_path, class: 'btn btn-primary'%>
              <% else %>
                <h4>Start just right away by Signing Up Now!</h4>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </header>

    <hr>
  <%= render partial: "footer", class: 'col-md-offset-0' %>
    <!-- Footer -->
